cat << 'EOF' > requirements.txt
--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
pydantic
pydantic-settings
pinecone[asyncio]
google-generativeai
sentence-transformers
requests
EOF